bin/Debug/WindowsFormsApplication1.exe
bin/Debug/WindowsFormsApplication1.exe.config
bin/Debug/WindowsFormsApplication1.vshost.exe.config
bin/Debug/WindowsFormsApplication1.vshost.exe
bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
*.pdb
obj/Debug/AnnTest.csproj.FileListAbsolute.txt
*.Cache
obj/Debug/WindowsFormsApplication1.exe
obj/Debug/WindowsFormsApplication1.TestForm.resources
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.vs/AnnTest/v14/.suo